body {
    background:  url(''); /* Replace 'background.jpg' with the path to your resized image */
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Optional - fixes the background */
  }

  .background-image {
    width: 10%; /* Set the width to 50% to make it half the size */
    height: 10%; /* Adjust the height as needed */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Place it behind the content */
 
  }